html,
body {
    height: 100%;
}

section {
    block-size: 100vh;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

header {
    height: 200vh;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-align: center;
}

.caff__logo-container {
    clip: rect(0, auto, auto, 0);
    overflow: hidden;
    position: absolute;

    height: 100%;
    width: 100%;
    left: 0;

    /* Safari hack */
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

#logo-container-a {
    /* white background, black logo */
    background: white;
    top: 0;
}

#logo-container-b {
    /* black background, white logo */
    background-color: black;
    top: 100vh;
}

.logo-wrapper {
    position: fixed;
    display: block;
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.caff__logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

#logo {
    width: 80%;
}

header,
.what-we-offer,
.about-us,
.get-in-touch {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    padding: 0 2rem;
}

.what-we-offer__header,
.about-us__header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insta-icon {
    margin: 1.5rem;
    width: 2rem;
}

#header-logo {
    margin-top: 20px;
    width: 50%;
}

section:nth-of-type(even) {
    color: white;
    background: black;
}

section:nth-of-type(odd) {
    color: black;
    background: white;
}

/* Swiper */

.swiper {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    cursor: pointer;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
